.collection {
  text-align: center;

  &__heading {
    font-size: 2rem;
    margin: 1rem 0 0 0;
  }

  &__items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__item {
    align-items: center;
    border: 1px solid $secondary-lighter;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0.25rem;
    padding: 0.75rem;

    &:hover {
      background-color: $secondary-lighter;
      border-color: $secondary;
    }
  }

  &__button {
    background-color: $secondary-lighter;
    border-color: $secondary-lighter;
    color: $secondary;
    font-size: 0.75rem;
    margin: 0.25rem 0;
    width: 150px;

    &:hover {
      border: 1px solid $secondary;
      background-color: $secondary-lighter;
    }

    &:active {
      background-color: $primary-lighter;
      border: 1px solid $primary;
      color: $primary;
    }
  }
}
