.search {
  text-align: center;
  border-bottom: 1px solid var(--primary-lighter);

  form {
    display: flex;
    justify-content: center;
    margin: 0.5rem;
    padding: 0.5rem;
  }

  input {
    background-color: var(--grey);
    border: none;
    border-radius: 0;
    color: var(--primary);
    font-family: baskerville;
    font-size: 2rem;
    max-width: 80vw;
    outline: none;
    padding: 0.5rem;

    &::placeholder {
      color: var(--primary-light);
    }

    &:hover {
      background-color: var(--secondary-lighter);
    }

    &:focus {
      background-color: var(--secondary-light);
    }
  }

  &__button {
    width: 3rem;
  }

  &__results {
    display: flex;
    flex-flow: wrap;

    &--total {
      margin: 0.5rem;
    }

    &--pagination {
      display: flex;
      justify-content: space-between;
      padding: 0.5rem;

      & > * {
        padding: 0.2rem;
      }
    }

    &--item {
      @extend .book;
      background-color: var(--grey-light);
      box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.1) inset;
      cursor: pointer;
      margin: 0;
      width: 25vw;

      @media (max-width: 800px) {
        width: 50vw;
      }

      &:hover {
        background-color: var(--primary-lighter);
        box-shadow: 0 0 0px 1px var(--primary) inset;
      }

      &:active {
        background-color: var(--secondary-lighter);
        box-shadow: 0 0 0px 1px var(--secondary) inset;
        color: var(--secondary);
      }

      &-title {
        font-weight: 700;
      }

      img {
        margin: 1rem;
      }
    }
  }
}
