button {
  background-color: var(--lighter-purple);
  border: 1px solid var(--lighter-purple);
  color: var(--purple);
  cursor: pointer;
  font-family: baskerville;
  font-size: 1rem;
  width: 20vw;

  &:hover {
    border: 1px solid var(--purple);
  }

  &:active {
    background-color: var(--lighter-orange);
    border: 1px solid var(--orange);
    color: var(--orange);
  }

  &:focus {
    outline: none;
  }
}
