:root {
  --purple: rgb(49, 77, 228);
  --light-purple: rgba(49, 77, 228, 0.5);
  --lighter-purple: rgba(49, 77, 228, 0.1);
  --orange: rgb(250, 133, 49);
  --light-orange: rgba(250, 133, 49, 0.5);
  --lighter-orange: rgba(250, 133, 49, 0.3);
  --grey: rgb(235, 236, 236);
  --light-grey: rgb(235, 236, 236);
}
