:root {
  --purple: rgb(49, 77, 228);
  --light-purple: rgba(49, 77, 228, 0.5);
  --lighter-purple: rgba(49, 77, 228, 0.1);
  --orange: rgb(241, 103, 23);
  --light-orange: rgba(241, 103, 23, 0.5);
  --lighter-orange: rgba(241, 103, 23, 0.3);
  --grey: rgb(235, 236, 236);
  --light-grey: rgba(235, 236, 236, 0.5);
}
