.search {
  text-align: center;

  form {
    padding: 0.5rem;
  }
  input {
    background-color: var(--grey);
    border: none;
    color: var(--purple);
    font-family: baskerville;
    font-size: 2rem;
    max-width: 90vw;
    outline: none;
    padding: 0.5rem;
    &::placeholder {
      color: var(--light-purple);
    }
    &:hover {
      background-color: var(--lighter-orange);
    }
    &:focus {
      background-color: var(--light-orange);
    }
  }

  &__pagination {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;

    & > * {
      padding: 0.2rem;
    }
  }

  &__results {
    display: flex;
    flex-flow: wrap;

    &--item {
      @extend .book;
      background-color: var(--light-grey);
      box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.1) inset;
      cursor: pointer;
      margin: 0;
      width: 25vw;

      @media (max-width: 800px) {
        width: 50vw;
      }

      &:hover {
        background-color: var(--lighter-purple);
        box-shadow: 0 0 0px 1px var(--purple) inset;
      }

      &:active {
        background-color: var(--lighter-orange);
        box-shadow: 0 0 0px 1px var(--orange) inset;
        color: var(--orange);
      }

      &-title {
        font-weight: 700;
      }

      img {
        margin: 1rem;
      }
    }
  }
}
