button {
  background-color: $primary-lighter;
  border: 1px solid $primary-lighter;
  color: $primary;
  cursor: pointer;
  font-family: baskerville;
  font-size: 1rem;
  width: 20vw;

  &:hover {
    border: 1px solid $primary;
  }

  &:active {
    background-color: $secondary-lighter;
    border: 1px solid $secondary;
    color: $secondary;
  }

  &:focus {
    outline: none;
  }
}
