:root {
  --primary: rgb(49, 77, 228);
  --primary-light: rgba(49, 77, 228, 0.5);
  --primary-lighter: rgba(49, 77, 228, 0.1);
  --secondary: rgb(241, 103, 23);
  --secondary-light: rgba(241, 103, 23, 0.5);
  --secondary-lighter: rgba(241, 103, 23, 0.3);
  --grey: rgb(235, 236, 236);
  --grey-light: rgba(235, 236, 236, 0.5);
}
