$primary: rgb(49, 77, 228);
$primary-light: rgba($primary, 0.5);
$primary-lighter: rgba($primary, 0.1);
$secondary: rgb(0, 163, 173);
$secondary-light: rgba($secondary, 0.5);
$secondary-lighter: rgba($secondary, 0.3);
$neutral: rgb(235, 236, 236);
$neutral-light: rgba($neutral, 0.5);
