* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--primary);
  font-family: baskerville;
  padding-bottom: 2rem;
}

::selection {
  background-color: var(--primary);
  color: var(--secondary);
}
