:root {
  --purple: rgb(49, 77, 228);
  --light-purple: rgba(49, 77, 228, 0.5);
  --lighter-purple: rgba(49, 77, 228, 0.1);
  --orange: rgb(241, 103, 23);
  --light-orange: rgba(241, 103, 23, 0.5);
  --lighter-orange: rgba(241, 103, 23, 0.3);
  --grey: rgb(235, 236, 236);
  --light-grey: rgba(235, 236, 236, 0.5);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: baskerville;
}

::selection {
  background-color: var(--purple);
  color: var(--orange);
}

header {
  background-color: var(--lighter-purple);
  display: flex;
  justify-content: space-between;
  padding: 0 0.5rem;
}

.page-title {
  color: var(--purple);
  font-size: 5rem;
  text-decoration: none;
}
.page-title:hover {
  text-decoration: underline;
}
.page-title--first {
  top: 0.75rem;
  position: relative;
  text-shadow: 2px 0px 0px var(--light-orange);
}
.page-title--second {
  bottom: 0.75rem;
  color: var(--orange);
  letter-spacing: 3px;
  position: relative;
  text-shadow: 2px 0px 0px var(--light-purple);
}
.page-title--third {
  color: var(--light-orange);
  text-shadow: none;
}

.current-book__container {
  padding: 1rem;
  text-align: center;
}
.current-book__container > p {
  color: var(--purple);
  font-weight: 700;
  margin-bottom: 1rem;
}

.book {
  margin: 2rem 0;
  text-align: center;
}
.book > div > div {
  min-height: 50vh;
  margin: auto;
  width: 90vw;
}

.booksearch {
  text-align: center;
}
.booksearch form {
  padding: 0.5rem;
}
.booksearch input {
  background-color: var(--grey);
  border: none;
  color: var(--purple);
  font-family: baskerville;
  font-size: 2rem;
  max-width: 90vw;
  outline: none;
  padding: 0.5rem;
}
.booksearch input::placeholder {
  color: var(--light-purple);
}
.booksearch input:hover {
  background-color: var(--lighter-orange);
}
.booksearch input:focus {
  background-color: var(--light-orange);
}
.booksearch__pagination {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}
.booksearch__pagination > * {
  padding: 0.2rem;
}
.booksearch__pagination--button {
  background-color: var(--lighter-purple);
  border: 1px solid var(--lighter-purple);
  color: var(--purple);
  cursor: pointer;
  width: 15vw;
}
.booksearch__pagination--button:hover {
  border: 1px solid var(--purple);
}
.booksearch__pagination--button:active {
  background-color: var(--lighter-orange);
  border: 1px solid var(--orange);
  color: var(--orange);
}
.booksearch__results {
  display: flex;
  flex-flow: wrap;
}
.booksearch__results--item {
  background-color: var(--light-grey);
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.1) inset;
  color: var(--purple);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.75rem;
  width: 25vw;
}
@media (max-width: 800px) {
  .booksearch__results--item {
    width: 50vw;
  }
}
.booksearch__results--item:hover {
  background-color: var(--lighter-purple);
  box-shadow: 0 0 0px 1px var(--purple) inset;
}
.booksearch__results--item:active {
  background-color: var(--lighter-orange);
  box-shadow: 0 0 0px 1px var(--orange) inset;
  color: var(--orange);
}
.booksearch__results--item-title {
  font-weight: 700;
}
.booksearch__results--item img {
  margin: 1rem;
}

/*# sourceMappingURL=App.css.map */
